.top 
    .d-flex.justify-content-between.align-items-center
        a(href="#")
            img.header__logo(src='img/logo.png', alt="Energy")
        .top__switch
            span.top__current Рус.
            .top__languages
                a(href="#") Руc.
                a(href="#") Eng.
    
    h1.top__title Полный комплекс услуг
        br
        span электроснабжения по выгодным ценам!
    
    button.button_border-white Заказать звонок
 


 
