.article{
    background-color: #fff;
    padding: 240px 60px;
    position: relative;
}

.article__quotes{
    width: 76px;
    height: 57px;
    background: url("img/quotes.png") no-repeat center / contain;
    position: absolute;
    right: 40px;
    top: 137px;
}

.article__title{
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    margin-bottom: 17px;
}

.article__date{
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 57px;
}

.article__text{
    color: #b2b2b2;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

@media (max-width:1200px),(max-device-width:1200px) {
    .article{
        padding: 50px 30px;
    }

    .article__quotes{
        right: 70px;
        top: 105px;
    }
}
@media (max-width:490px),(max-device-width:490px) {
    .article{
        padding: 20px 10px;
    }

    .article__quotes{
        display: none;
    }

    .article__text{
        font-size: 16px;
    }

    .article__date{
        margin-bottom: 10px;
    }
}
