.article
    .article__quotes
    h2.article__title Заголовок Вашей статьи / новости
    .article__date 05.05.2018
    .article__text Вера Брежнева оказалась в центре международного скандала. Словесные баталии разгорелись на странице певицы в Instagram.
        | При этом исполнительница задала невинный вопрос – есть ли у ее поклонников место, где они чувствуют себя как дома. Своим домом она считает Италию. В подтверждение своих слов артистка опубликовала фотографию, на которой запечатлелась на фоне древних руин на морском побережье. Вера Брежнева оказалась в центре международного скандала. Словесные баталии              разгорелись на странице певицы в Instagram. При этом исполнительница задала невинный вопрос – 
        | есть ли у ее поклонников место, где они чувствуют себя как дома. Своим домом она считает Италию. В подтверждение своих слов артистка 
        | опубликовала фотографию, на которой запечатлелась на фоне древних руин на морском побережье. Вера Брежнева оказалась в центре международного скандала.
        | Словесные баталии разгорелись на странице певицы в Instagram. При этом исполнительница задала невинный вопрос – есть ли у ее поклонников место, где они чувствуют себя как дома. Своим домом она считает Италию. В подтверждение своих слов артистка опубликовала фотографию, на которой запечатлелась на фоне древних руин на морском побережье. 
