.square{
    min-height: 190px;
    min-width: 190px;
    width: 17vw;
    height: 16vw;
    max-width: 299px;
    max-height: 277px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.square:hover{
    text-decoration: none;
    color: #969799;
}

.square_blue{
    background-color: #2d3a67;
}
.square_red{
    background-color: #6d1217;
}

.square_gray{
    background-color: #313337;
}

.square_orange{
    background-color: #8f5122;
}

.square_purple{
    background-color: #391d46;
}

@media (max-width:1500px),(max-device-width:1500px) {
    .square{
        font-size: 20px;
    }
}
@media (max-width:1200px),(max-device-width:1200px) {
    .square{
        font-size: 16px;
    }
}
@media (max-width:590px),(max-device-width:590px) {
    .square{
        font-size: 10px;
        min-height: 100px;
    min-width: 100px;
    }
}
