.square-row{
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    margin-left: auto;
}

.square-row_small{
    max-width: 900px;
}

.square-row_withLinks{
    background-color: #313337;
    max-width: 100%;
}
