header{
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    padding: 45px 41px 62px 0px;
    align-items: flex-start;
}

.header__menu-icon{
    cursor: pointer;
}

.header__logo{
    min-width: 147px;
    max-width: 147px;
    min-height: 52px;
    max-height: 52px;
    transform: rotate(-90deg) translate(-20px, -25px);
}
