noscript
    p Please enable Javascript

header
    a(href="#")
        img.header__logo(src='img/logo.png', alt="Energy")
        
    img.header__menu-icon(src="img/menu.png", alt="Меню")

include ../header-menu/header-menu.jade    
