.header-menu
    a.header-menu__logo(href="#")
        img(src='img/logo.png', alt="Energy")
    .header-menu__list
        a.link.header-menu__item(href="#")
            span.header-menu__index 01.
            span.header-menu__title Главная
        a.link.header-menu__item(href="#")
            span.header-menu__index 02.
            span.header-menu__title О нас
        a.link.header-menu__item(href="#")
            span.header-menu__index 03.
            span.header-menu__title Наши услуги
        a.link.header-menu__item(href="#")
            span.header-menu__index 04.
            span.header-menu__title Фотогалерея
        a.link.header-menu__item(href="#")
            span.header-menu__index 05.
            span.header-menu__title Контакты
