.container-fluid(style="margin-top:400px;")

  .service__title Наши услуги :
  
  .service-row
    .service.service_bg_gray
      .service__icon-photogallery
      .service__info.service__info_photogallery
        .service__info-title Фотогалерея
        a.button_border-white.button_bottom.button_center(href="#") Подробнее
        
    .service
      .service__icon-planning
      .service__info.service__info_planning
        .service__info-title Проектирование
        .service__info-icon
        a.button_border-white.button_bottom.button_center(href="#") Подробнее
        
    .service
      .service__icon-manufacturing
      .service__info.service__info_manufacturing
        .service__info-title Производство
        .service__info-icon
        a.button_border-white.button_bottom.button_center(href="#") Подробнее
        
    .service
      .service__icon-install
      .service__info.service__info_install
        .service__info-title Монтаж
        .service__info-icon
        a.button_border-white.button_bottom.button_center(href="#") Подробнее
        
    .service
      .service__icon-service
      .service__info.service__info_service
        .service__info-title Обслуживание
        .service__info-icon
        a.button_border-white.button_bottom.button_center(href="#") Подробнее
      
