.article-slider.owl-carousel.owl-theme
    .article-slider__item
        .article-slider__quotes
        h3.articles-slider__title Заголовок Вашей статьи
        .articles-slider__date 05.05.2018
        .articles-slider__text Вера Брежнева оказалась в центре международного скандала. Словесные баталии разгорелись на странице певицы в Instagram. При этом исполнительница задала невинный вопрос – есть ли у ее поклонников место, где они чувствуют себя как дома. Своим домом она считает Италию. В подтверждение своих слов артистка опубликовала фотографию, на которой запечатлелась на фоне древних руин на морском побережье. 
        a.link.link_article-slider(href="#") Далее
    .article-slider__item
        .article-slider__quotes
        h3.articles-slider__title Заголовок Вашей статьи
        .articles-slider__date 05.05.2018
        .articles-slider__text Вера Брежнева оказалась в центре международного скандала. Словесные баталии разгорелись на странице певицы в Instagram. При этом исполнительница задала невинный вопрос – есть ли у ее поклонников место, где они чувствуют себя как дома. Своим домом она считает Италию. В подтверждение своих слов артистка опубликовала фотографию, на которой запечатлелась на фоне древних руин на морском побережье. 
        a.link.link_article-slider(href="#") Далее
    .article-slider__item
        .article-slider__quotes
        h3.articles-slider__title Заголовок Вашей статьи
        .articles-slider__date 05.05.2018
        .articles-slider__text Вера Брежнева оказалась в центре международного скандала. Словесные баталии разгорелись на странице певицы в Instagram. При этом исполнительница задала невинный вопрос – есть ли у ее поклонников место, где они чувствуют себя как дома. Своим домом она считает Италию. В подтверждение своих слов артистка опубликовала фотографию, на которой запечатлелась на фоне древних руин на морском побережье. 
        a.link.link_article-slider(href="#") Далее
a.button_gray-border(href="#") Смотреть все
