footer{
    background-color: #fff;
}

.footer__links{
    display: flex;
    flex-direction: column;
}

.footer-wrapper{
    max-width: 1807px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 75px 10px;
    margin: 0px auto;
}

.footer__social{
    max-width: 230px;
}

.footer__social-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}
