footer
    .footer-wrapper.row
        .col-lg-3
            img.d-block.mx-auto.my-3.my-lg-0(src="img/logo.png", alt="Energy")
        
        .footer__links.col-md-1
            a.link.link__footer(href="#") О компании 
            a.link.link__footer(href="#") Новости 
            a.link.link__footer(href="#") Статьи 
            
        .footer__links.col-md-2
            a.link.link__footer(href="#") Обслуживание 
            a.link.link__footer(href="#") Монтаж
            a.link.link__footer(href="#") Фотогалерея
            a.link.link__footer(href="#") Проектирование
            a.link.link__footer(href="#") Производство
            
        .footer__links.col-md-3
            a.link.link__footer(href="tel:+74957750125") +7 495 775 01 25
            a.link.link__footer 111024, Москва, 2-я ул. Энтузиастов, 5, корп.21
            a.link.link__footer(href="mailto:info@energy-project.org") info@energy-project.org
            
        .footer__social.col-md-3
            .footer__social-wrapper
                a(href="#")
                    img(src="img/instagram.png", alt="instagram")
                a(href="#")
                    img(src="img/facebook.png", alt="facebook")
                a(href="#")
                    img(src="img/twitter.png", alt="twitter")
            a.link.link__webcomp(href="http://web-comp.ru") Сайт разработан в WEB-COMP
